$primary-bg-color: rgb(39, 39, 39);
$secondary-bg-color: #fff;
$hover-bg-color: rgb(214, 214, 214);

$primary-txt-color: #fff;
$secondary-txt-color: rgb(47, 47, 47);

$main-font-family: Arial, sans-serif;